@import play.Configuration
@import org.apache.commons.codec.binary.Base64

@(turkerId: String, questionId: Long, html: String, js: String, pdfAssetId: Long, pdfFileName: String)

@main("PPLibBallot - Question") {

    <h3>Hi @turkerId</h3>
    <!--<form action="/logout" method="post">
        <input type="submit" class="btn btn-warning" value="Logout">
    </form>-->


    <div id="question">
        @Html(html)
    </div>

    @Html(js)

    <script language="javascript">
        $(function() {
            $("form").append("<input type=\"hidden\" name=\"questionId\" value=\"@questionId\">");
            $("form").append("<input type=\"hidden\" name=\"pdfFileName\" value=\"@pdfFileName\">");
            console.log("Hidden elements added");
        });

        $(function() {
            $("#assets").append("<a href=\"@(Configuration.root().getString("assetPrefix",""))/assetsBallot/@pdfAssetId\" target=\"_blank\">here.</a>");
        })

    </script>

}