@import play.Configuration
@(turkerId: String, question: Question, assetIds: List[Long])

@main("PPLibBallot - Question") {

    <h3>Hi @turkerId</h3>
    <!--<form action="/logout" method="post">
        <input type="submit" class="btn btn-warning" value="Logout">
    </form>-->


    <div id="question">
        @Html(question.html)
    </div>

    <script language="javascript">
        $(function() {
            $("form").append("<input type=\"hidden\" name=\"questionId\" value=\"@question.id\">");
            console.log("Element added");
        });

        $(function() {
            $("#assets").append("<a href=\"@(Configuration.root().getString("application.context","")+"/assetsBallot/"+assetIds.head)\" target=\"_blank\">here.</a>");
            console.log("Asset with id: " + @assetIds.head + " added");
        })

    </script>

}