@(turkerId: String, question: Question
        )

@main("PPLibBallot - Question") {

    <h1>
        Hi @turkerId<br>
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </h1>


    <div id="instruction">
        Thank you for participating in our survey.<br>
            Our goal is to see whether you are able to grasp some of the main concepts
            in the field of statistics without needing to be an expert in that field -
            just by basic text understanding. For that matter, we have prepared multiple such surveys;
            in all of which you can participate at most once.
    </div>

    <hr style="width:100%;">

    <div id="question">
        @Html(question.html)
    </div>

    <script language="javascript">
        $(function() {
            $("form").append("<input type=\"hidden\" name=\"questionId\" value=\"@question.id\">");
            console.log("Element added");
        });
    </script>

}